$Gray: hsl(0, 0%, 75%);
$GrayisViolet: hsl(257, 7%, 63%);
$Cyan: hsl(180, 66%, 49%);

.header{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    margin: 0 auto;
    .logo-nav{
        display: flex;
        align-items: center;
        img{
            margin-right: 40px;
        }
        nav{
            a{
                margin-right: 15px;
                text-decoration: none;
                color: $GrayisViolet;
                font-weight: bold;
                &:hover{
                    color: black;
                }
            }
        }
    }
    .botoes{
        a{
            text-decoration: none;
            cursor: pointer;
        }
        .login{
            margin-right: 18px;
            color: $GrayisViolet;
            font-weight: bold;
        }
        .sign{
            color: white;
            font-weight: bold;
            background: $Cyan;
            border-radius: 30px;
            padding: 10px 20px;
            &:hover{
                background: $GrayisViolet;
            }

        }
    }
}