<div class="container">
    <div class="description">
        <h2>Mais do que links mais curtos.</h2>
        <p>
            Construa o reconhecimento da sua marca e obtenha detalhes e
            percepções sobre o desempenho dos links.
        </p>
        <div class="btn">
            <a href="#" class="btn-radius">Iniciar</a>
        </div>
    </div>

    <div class="image">
        <img src="../../assets/images/illustration-working.svg">
    </div>
</div>

<div class="caixa">
    <app-input-url></app-input-url>
</div>